# Find abbreviations used

## Imports and functions

In [11]:
import pandas as pd
from itertools import combinations
import difflib
import jupyter_black

jupyter_black.load()


def Sorting(lst):
    """
    sort lists based on length
    Args:
        lst: list of strings
    Returns:
        list
    """
    lst = sorted(lst, key=len)
    return lst

## Read files, setup variables

In [13]:
label_choice = []
target_label_choice = []
name_set = []
original_index = []
original_label = []

k = 0

df = pd.read_csv("sample_project.csv")

## Run function

In [14]:
for index, row in df.iterrows():
    nacount = 0
    name_par = row["name"].split("_")
    label_par = row["label"].replace(" / ", " ").split(" ")
    # all posible label combination
    sample_list = label_par
    list_combinations = list()

    for n in range(len(sample_list) + 1):
        list_combinations += list(combinations(sample_list, n))
    list_strings = []
    for i in list_combinations:
        list_strings.append(" ".join(i))
    # find the close match

    for m in name_par:
        # loose match
        label_choice_list = difflib.get_close_matches(m, list_strings, n=4, cutoff=0)
        sort_label = Sorting(label_choice_list)
        label_choice.append(sort_label)

        # close match
        for x in sort_label:
            x_splited = list(x.lower().replace(" ", ""))
            index = -1
            count = 0
            for l in list(m.lower()):
                if l in x_splited[index + 1 :]:
                    index = x_splited.index(l)
                    count += 1
                else:
                    nacount += 1
                    break

            if nacount == len(sort_label):
                target_label_choice.append("NA")

            if count == len(m):
                target_label_choice.append(x)
                break
            else:
                continue

        name_set.append(m)
        original_index.append(k)
        original_label.append(row["label"])

    k += 1

## Output

In [16]:
column_lsit = {
    "label_choice": label_choice,
    "target_label_choice": target_label_choice,
    "name_set": name_set,
    "original_index": original_index,
    "original_label": original_label,
}
result = pd.DataFrame(data=column_lsit)
result

,label_choice,target_label_choice,name_set,original_index,original_label
0,"[Yield, Yield to, Ask Yield, Ask Yield to]",Yield,YLD,0,Ask Yield to Maturity
1,"[Yield, Yield Maturity, Yield to Maturity, Ask...",Yield to Maturity,YTM,0,Ask Yield to Maturity
2,"[Ask, Ask to, Ask Yield, Ask Yield to]",Ask,ASK,0,Ask Yield to Maturity
3,"[Duration, Duration to, Bid Duration, Bid Dura...",Duration,DUR,1,Bid Modified Duration to Maturity
4,"[Duration, Duration to, Bid Duration, Bid Dura...",NA,ADJ,1,Bid Modified Duration to Maturity
5,"[Modified, Maturity, to Maturity, Modified to]",Maturity,MTY,1,Bid Modified Duration to Maturity
6,"[Bid, Bid to, Bid Duration, Bid Duration to]",Bid,BID,1,Bid Modified Duration to Maturity
7,"[Type, Bullet, Bullet Type, Bullet Maturity Type]",Bullet,BULLET,2,Bullet Maturity Type Indicator
8,"[Business, Business to, Business Days, Busines...",Business,BUS,3,Business Days to Maturity
9,"[Days, Days to, Days Maturity, Business Days]",Days,DAYS,3,Business Days to Maturity
10,"[to, Maturity, to Maturity, Days to Maturity]",to,TO,3,Business Days to Maturity
11,"[Maturity, to Maturity, Days Maturity, Days to...",Maturity,MTY,3,Business Days to Maturity
12,"[Type, Maturity, Maturity Type, Maturity Refun...",Maturity,MTY,4,Maturity / Refund Type
13,"[Type, Refund Type, Maturity Type, Maturity Re...",Type,TYP,4,Maturity / Refund Type
14,"[Years, Years to, Maturity, Years from]",Maturity,MTY,5,Years from Settle to Maturity
15,"[Years, Years Settle, Years Settle to, Years f...",Years,YEARS,5,Years from Settle to Maturity